@import 'fontawesome-all.min.css';
body {
  width: 90%;
  margin: 0 auto;
}
h1 {
  font-family: 'Segoe UI', sans-serif;
  font-weight: 500;
  color: #1460aa;
}
p,
a {
  font-family: 'Segoe UI', sans-serif;
  font-weight: 500;
  color: black;
}
@media (max-width: 500px), (max-width: 800px) {
  p,
  a {
    font-family: 'Segoe UI', sans-serif;
    font-weight: 500;
    color: white;
  }
}
.Nav-Bar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 8vh;
}
.Nav-Bar .logo-image {
  height: auto;
  width: auto;
}
.Nav-Bar .nav-links {
  display: flex;
  justify-content: space-around;
  width: 40%;
}
.Nav-Bar .nav-links li {
  list-style: none;
}
.Nav-Bar .nav-links li a {
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
}
.Nav-Bar .nav-links li a:hover {
  color: #ffde59;
}
.Nav-Bar .burger {
  display: none;
}
.Nav-Bar .burger div {
  width: 25px;
  height: 3px;
  background-color: #38b6ff;
  margin: 5px;
  transition: all 0.3s ease;
}
footer {
  width: 100%;
  margin-top: 5%;
  display: flex;
  flex-direction: column;
}
footer .footer-nav {
  width: 100%;
  justify-content: space-around;
}
footer .footer-nav nav {
  display: flex;
  justify-content: space-evenly;
}
footer .footer-nav nav a {
  padding: 1%;
  letter-spacing: 2px;
  text-decoration: none;
  font-weight: bold;
  text-transform: uppercase;
  color: black;
}
footer .footer-nav nav a:hover {
  color: #1789f3;
}
footer .copyright {
  width: 100%;
}
footer .copyright h3 {
  justify-content: space-around;
  display: flex;
}
@media (max-width: 500px), (max-width: 800px) {
  body {
    overflow-x: hidden;
  }
  body .Nav-Bar .logo-image {
    display: flex;
    margin: auto;
  }
  body .Nav-Bar .nav-links {
    position: absolute;
    right: 0px;
    height: 92vh;
    top: 8vh;
    background-color: #38b6ff;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    transform: translatex(100%);
    transition: transform 0.5s ease-in;
  }
  body .Nav-Bar .nav-links ul {
    flex-direction: column;
  }
  body .Nav-Bar .nav-links ul li {
    opacity: 0;
    display: flex;
    justify-content: center;
  }
  body .Nav-Bar .burger {
    display: block;
    cursor: pointer;
  }
  body .Nav-Bar .nav-active {
    transform: translateX(0%);
  }
  @keyframes navLinkFade {
    from {
      opacity: 0;
      transform: translateX(50px);
    }
    to {
      opacity: 1;
      transform: translateX(0px);
    }
  }
  body .Nav-Bar .toggle .line1 {
    transform: rotate(-45deg) translate(-5px, 6px);
  }
  body .Nav-Bar .toggle .line2 {
    opacity: 0;
  }
  body .Nav-Bar .toggle .line3 {
    transform: rotate(45deg) translate(-5px, -6px);
  }
}
body {
  width: 90%;
}
body h1 {
  font-size: 2rem;
  font-weight: bold;
  text-shadow: 1px 1px lightgrey;
  color: #38b6ff;
}
body .Container {
  display: flex;
}
@media (max-width: 500px), (max-width: 800px) {
  body .Container {
    align-items: center;
    flex-direction: column;
  }
}
body .Container .Mentor {
  display: flex;
  width: 50%;
  justify-content: center;
  margin: 0.5% 0% 0% 0%;
  flex-direction: column;
}
body .Container .Mentor #mentor-img {
  display: flex;
  justify-content: center;
}
body .Container .Mentor #mentor-img img {
  width: 100%;
}
@media (max-width: 500px), (max-width: 800px) {
  body .Container .Mentor {
    width: 100%;
  }
  body .Container .Mentor p {
    color: black;
  }
}
body .Container .Mentee {
  display: flex;
  width: 50%;
  justify-content: center;
  margin: 0% 1% 1% 1%;
  flex-direction: column;
}
body .Container .Mentee #mentee-img {
  display: flex;
  justify-content: center;
}
body .Container .Mentee #mentee-img img {
  width: 100%;
}
@media (max-width: 500px), (max-width: 800px) {
  body .Container .Mentee {
    width: 100%;
  }
  body .Container .Mentee p {
    color: black;
  }
}
body .how-it-works {
  display: flex;
  flex-direction: column;
  align-items: center;
}
body .how-it-works .flow-chart {
  display: flex;
}
@media (max-width: 500px), (max-width: 800px) {
  body .how-it-works .flow-chart {
    flex-direction: column;
    width: 100%;
  }
}
body .how-it-works .flow-chart .button-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 2%;
  padding-right: 2%;
}
body .how-it-works .flow-chart .button-wrapper p {
  padding: 1%;
  font-size: 1.5rem;
}
@media (max-width: 500px), (max-width: 800px) {
  body .how-it-works .flow-chart .button-wrapper p {
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
body .how-it-works .flow-chart .button-wrapper p #mentee-how-to {
  color: #38b6ff;
  font-weight: bold;
  font-family: 'Covered By Your Grace', cursive;
  text-shadow: 1px 1px lightgrey;
}
body .how-it-works .flow-chart .button-wrapper p #mentor-how-to {
  color: #38b6ff;
  font-weight: bold;
  font-family: 'Covered By Your Grace', cursive;
  text-shadow: 1px 1px lightgrey;
}
