.Top {
  margin: 2% 0;
  display: flex;
}
img {
  max-width: 100%;
  height: auto;
}
.Top-Left {
  margin: auto 2%;
  width: 50%;
  display: flex;
  flex-direction: column;
}
.Top-Left .phone {
  max-width: 100%;
}
.Top-Left .phone img {
  width: 100%;
}
.Top-Left .holder {
  display: flex;
  justify-content: space-around;
}
.Top-Right {
  margin: auto 2%;
  width: 50%;
}
.Banner {
  margin: 3% auto;
  width: 100%;
}
body {
  max-width: 900px;
  width: 100%;
  margin: 0 auto;
}
h1 {
  font-family: 'Segoe UI', sans-serif;
  font-weight: 500;
  color: #1460aa;
}
p,
a {
  font-family: 'Segoe UI', sans-serif;
  font-weight: 500;
  color: black;
}
.Nav-Bar {
  display: flex;
  justify-content: space-between;
}
.Nav-Bar nav {
  width: 40%;
  margin: 2% 2%;
  display: flex;
}
.Nav-Bar nav a {
  text-decoration: none;
  text-transform: uppercase;
  margin: auto 2%;
}
