@import 'fontawesome-all.min.css';
.Container {
  font-family: 'Roboto', sans-serif;
}
.Container .Top {
  margin: 2% 0;
  display: flex;
}
@media (max-width: 500px), (max-width: 800px) {
  .Container .Top {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
  }
}
.Container img {
  max-width: 100%;
  height: auto;
}
.Container .Top-Left {
  margin: auto 2%;
  width: 50%;
  display: flex;
  flex-direction: column;
}
.Container .Top-Left .phone {
  max-width: 100%;
}
.Container .Top-Left .phone img {
  width: 100%;
  border-radius: 10px;
  box-shadow: 3px 3px 2px grey;
}
.Container .Top-Left .holder {
  display: flex;
  justify-content: space-around;
}
.Container .Top-Left .holder .Button-Google {
  border-radius: 5px;
  padding-left: 5%;
  padding-right: 5%;
  box-shadow: 3px 2px 2px grey;
}
.Container .Top-Left .holder .Button-Google:hover {
  color: #F4B400;
}
.Container .Top-Left .holder .Button-Apple {
  border-radius: 5px;
  padding-left: 5%;
  padding-right: 5%;
  box-shadow: 3px 2px 2px grey;
}
.Container .Top-Left .holder .Button-Apple:hover {
  color: #007AFF;
}
.Container .Top-Right {
  margin: auto 2%;
  width: 50%;
  text-align: center;
}
@media (max-width: 500px), (max-width: 800px) {
  .Container .Top-Right {
    width: 100%;
  }
}
.Container .Top-Right h1 {
  font-size: 26px;
  color: #38b6ff;
}
.Container .Top-Right .email-log-in form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.Container .Top-Right .email-log-in form input {
  width: 40%;
  border-radius: 10px;
}
@media (max-width: 500px), (max-width: 800px) {
  .Container .Top-Right .email-log-in form input {
    width: 60%;
    padding: 2%;
  }
}
.Container .Top-Right .email-log-in #submit {
  width: 20%;
  color: white;
  font-weight: bold;
  background: #38b6ff;
  border-radius: 10px;
}
.Container .Top-Right .email-log-in #submit:hover {
  background: #12d112;
}
@media (max-width: 500px), (max-width: 800px) {
  .Container .Top-Right .email-log-in #submit {
    width: 60%;
  }
}
.Container .Banner {
  margin: 3% auto;
  width: 100%;
}
.Container .Banner img {
  border-radius: 10px;
  box-shadow: 3px 3px 2px grey;
}
.Container .Bottom {
  display: flex;
  justify-content: center;
}
.Container .Bottom .Bottom-Left {
  width: 50%;
  margin: 0%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.Container .Bottom .Bottom-Left .globe {
  margin-left: 0%;
  box-shadow: 3px 2px 2px grey;
  border-radius: 100%;
}
.Container .Bottom .Bottom-Right {
  margin: 0%;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
body {
  width: 90%;
  margin: 0 auto;
}
h1 {
  font-family: 'Segoe UI', sans-serif;
  font-weight: 500;
  color: #1460aa;
}
p,
a {
  font-family: 'Segoe UI', sans-serif;
  font-weight: 500;
  color: black;
}
@media (max-width: 500px), (max-width: 800px) {
  p,
  a {
    font-family: 'Segoe UI', sans-serif;
    font-weight: 500;
    color: white;
  }
}
.Nav-Bar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 8vh;
}
.Nav-Bar .logo-image {
  height: auto;
  width: auto;
}
.Nav-Bar .nav-links {
  display: flex;
  justify-content: space-around;
  width: 40%;
}
.Nav-Bar .nav-links li {
  list-style: none;
}
.Nav-Bar .nav-links li a {
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
}
.Nav-Bar .nav-links li a:hover {
  color: #ffde59;
  text-decoration: underline;
}
.Nav-Bar .burger {
  display: none;
}
.Nav-Bar .burger div {
  width: 25px;
  height: 3px;
  background-color: #38b6ff;
  margin: 5px;
  transition: all 0.3s ease;
}
footer {
  width: 100%;
  margin-top: 5%;
  display: flex;
  flex-direction: column;
}
footer .footer-nav {
  width: 100%;
  justify-content: space-around;
}
footer .footer-nav nav {
  display: flex;
  justify-content: space-evenly;
}
footer .footer-nav nav a {
  padding: 1%;
  letter-spacing: 2px;
  text-decoration: none;
  font-weight: bold;
  text-transform: uppercase;
}
footer .footer-nav nav a:hover {
  color: #1789f3;
}
footer .copyright {
  width: 100%;
}
footer .copyright h3 {
  justify-content: space-around;
  display: flex;
}
@media (max-width: 500px), (max-width: 800px) {
  body {
    overflow-x: hidden;
  }
  body .Nav-Bar .logo-image {
    display: flex;
    margin: auto;
  }
  body .Nav-Bar .nav-links {
    position: absolute;
    right: 0px;
    height: 92vh;
    top: 8vh;
    background-color: #38b6ff;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    transform: translatex(100%);
    transition: transform 0.5s ease-in;
  }
  body .Nav-Bar .nav-links ul {
    flex-direction: column;
  }
  body .Nav-Bar .nav-links ul li {
    opacity: 0;
    display: flex;
    justify-content: center;
  }
  body .Nav-Bar .burger {
    display: block;
    cursor: pointer;
  }
  body .Nav-Bar .nav-active {
    transform: translateX(0%);
  }
  @keyframes navLinkFade {
    from {
      opacity: 0;
      transform: translateX(50px);
    }
    to {
      opacity: 1;
      transform: translateX(0px);
    }
  }
  body .Nav-Bar .toggle .line1 {
    transform: rotate(-45deg) translate(-5px, 6px);
  }
  body .Nav-Bar .toggle .line2 {
    opacity: 0;
  }
  body .Nav-Bar .toggle .line3 {
    transform: rotate(45deg) translate(-5px, -6px);
  }
}
