
body{
    //max-width: 900px;
    width: 90%;
    margin: 0 auto;
}

h1{
    .styler();
}

p,a{
    .styler(@color: black);
        
}
.Nav-Bar{
    display: flex;
    justify-content: space-between;
    .logo-image{
        height: auto;
        width: auto;
        max-height: 72px;
        max-width: 250px;
    }
    .nav-links {
        width: 40%;
        margin: 2% 2%;
        display: flex;
        
        ul {
            display: flex;
            flex-direction: row;
            width: 100%;
        
            li {
            list-style: none;
            padding-right: 10%;
            width: 100%;
                a{
                    text-decoration: none;
                    text-transform: uppercase;
                    margin: 4%;
                }
            }
        }
    }
    .burger {
        display: none;

        div{
            width: 25px;
            height: 3px;
            background-color: red;
            margin: 5px;
        }
    } 
}

footer{
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    .footer-nav{
        width: 100%;
        justify-content: space-around;
        nav {
            display: flex;
            justify-content: space-evenly;
            a {
                padding: 1%;
                letter-spacing: 2px;
                text-decoration: none; 
            }
        }
    }
    .copyright{
        width: 100%;
        h3{
            justify-content: space-around;
            display: flex;
        }
    }
}

@media @phone {
    body {
        overflow-x: hidden;
        
        .Nav-Bar{

            .logo-image{
                display: flex;
                margin: auto;
            }
            .nav-links {
                position: absolute;
                right: 0px;
                height: 92vh;
                top: 8vh;
                background-color: @primary-color;
                display: flex;
                flex-direction: column;
                align-items: center;
                width: 50%;
                transform: translatex(100%);
                
                ul {
                    flex-direction: column;
                    li {
                        opacity: 0;
                        display: flex;
                        justify-content: center;
                    }    
                }
                .burger {
                    display: block;
                }
            }
    
        }
    }
}
