
body{
    max-width: 900px;
    width: 100%;
    margin: 0 auto;
}

h1{
    .styler();
}

p,a{
    .styler(@color: black);
        
}
.Nav-Bar{
    display: flex;
    justify-content: space-between;

    nav {
        width: 40%;
        margin: 2% 2%;
        display: flex;
              
        a{
            text-decoration: none;
            text-transform: uppercase;
            margin: auto 2%;
        }
    }
}